APP_ENV=local
APP_KEY=base64:khcqhmhIJ7aSX+/uhj5WtKGYa4qqMRNZEfJ5fJHxou4=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://tesis.test

# Default connection
DB_CONNECTION=mysql
DB_HOST=192.168.10.10
DB_PORT=3306
DB_DATABASE=tesis
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=
CACHE_DRIVER=
SESSION_DRIVER=
QUEUE_CONNECTION=
QUEUE_RETRY_AFTER=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# TODO: Pending configuration to emails.
MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM="score"
MAIL_FROM_ADDRESS=notificaciones@mis-eventos-cercanos.com
MAIL_FROM_NAME="MIS EVENTOS CERCANOS"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

# Display exceptions on messages (split by pipe -> |)
DISPLAY_EXCEPTION_TO_ROLES="developer|administrator"

#Project images
IMAGES_PATH=/var/www/images/skeleton/

#Loggly
LOG_CHANNEL=daily
LOGGLY_APP_NAME=skeleton
LOGGLY_API_KEY=44277a41-7b4b-40bd-a34c-97b9ca397258
GOOGLE_APPLICATION_CREDENTIALS="asset('public/credenciales.json')"
ID_CALENDAR='c_1m4mrcfojvhp4770m6kbkfcf0c@group.calendar.google.com'
FCM_SERVER_KEY='AAAAdMPNS8g:APA91bEtYGgtO1iDKDj8riOSXwQbrc0szi8i6u0SQj1iF-ihTsRNTjYHM2hERQ52ZY7pty4yPYEpL268kKM2F7XDBkcLtVovEaZDhE5Fg5YAa8YiLCJ4JFRN3APAH14S9NsZrsAZ6Eci'